body {
  margin: 20px;
}

.product-listing {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header {
  display: flex;
  justify-content: space-between;
}

.layout {
  display: flex;
}

.sidebar {
  margin-right: 50px;
}

.main-content {
  flex-grow: 1;
}
